.div-hd {
  z-index: 1000;
  position: sticky;
  top: 0;
  padding: 15px;
  background-color: white;
}
.img-logo {
  height: 35px;
  width: 35px;
  float: left;
  margin-left: 20px;
}
/* rightmost tab  */
.sub2-hd {
  float: right;
  margin-right: 20px;
  margin-top: -25px;
}
.sb22-hd {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 80px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.sub2-hd:hover .sb22-hd {
  display: block;
}
/* leftmost tab  */
.sp-hd3, .sp-hd4, .sp-hd5, .sp-hd6 {
  margin-left: 7px;
}
.div-src {
  position: relative;
  width: 350px;
  height: 100%;
  margin: -21px 0 0 570px;
}
.inp-src {
  width: 350px;
  height: 20px;
  border: 1px solid black;
  outline: none;
  border-radius: 40px;
  padding: 3px;
}
.img-src {
  position: absolute;
  height: 15px;
  top: 1.5px;
  right: 3px;
}
.sub3-hd {
  margin-left: 380px;
  margin-top: -21px;
}
.sb23-hd {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 80px;
  z-index: 1;
}
.sub3-hd:hover .sb23-hd {
  display: block;
}
.ul3-hd li:hover {
  background-color: #ffff00;
}
.ul2-hd li:hover {
  background-color: #ffff00;
}
/* list w/o bullets  */
ul.ul2-hd, ul.ul3-hd {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px;
}
/* Home First Component --  */
.main-hfs {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  background-color: #ffff00;
}
.sub-hfs2 h2, .sub-hfs2 p, .sub-hfs22 h2, .sub-hfs22 p, .sub-hfs23 h2, .sub-hfs23 p {
  margin: 0;
}
.sub-hfs2 img {
  width: 600px;
  height: 220px;
}
.sub-hfs22 img {
  width: 450px;
  height: 250px;
  float: right;
  margin-right: 0;
}
.sub-hfs22 {
  float: right;
  margin-right: 0;
}
.sub-hfs23 img {
  width: 550px;
  height: 250px;
}
/* Home Second Component --  */
.main-hsc {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}
.sub-hsc2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}
.sub2-hsc2 {
  text-align: center;
}
.sub3-hsc2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #ffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-left: 40px;
}
.sub3-hsc2 p {
  font-size: 30px;
}
.sub-hsc22 {
  text-align: center;
}
.sub-hsc22 p {
  padding: 20px;
}
/* Footer --  */
.main-ftr {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  background-color: black;
}
.div-ftr2 {
  background-color: black;
  color: gray;
}
.ftr2-col {
  float: left;
  margin-left: 20px;
}
.ftr2-col2 {
  float: left;
  margin-left: 40px;
}
.ftr2-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ftr2-fa {
  float: left;
  margin-top: 30px;
  margin-left: 240px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffff00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ftr2-fa2, .ftr2-fa3, .ftr2-fa4, .ftr2-fa5 {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffff00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ftr2-hr {
  float: center;
  margin-top: 170px;
}
.ftr2-hr hr {
  width: 96%;
}
.ftr2-lft {
  float: left;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 14px;
}
.ftr2-rft {
  float: right;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 14px;
}
/* --  */
/* Category Component & Search Component --  */
.div-ctg, .div-ctg3, .div-cgd, .div-cgd3 {
  background-color: #ffff00;
}
.div-ctg2 {
  float: left;
  margin-left: 40px;
}
.div-actg {
  text-align: center;
  height: 460px;
}
.sub2-ctg {
  width: 300px;
  height: 440px;
  border: 1px solid black;
  text-align: center;
}
.sub2-ctg img {
  width: 300px;
  height: 200px;
}
.sub2-csp {
  float: left;
  margin-left: 120px;
  padding: 10px;
  border: none;
  background-color: blue;
  color: white;
}
.main-cgd, .main-ctg {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}
.cgd-h2 {
  padding-left: 20px;
}
.cgd-img {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 400px;
}
.cgd-h22, .cgd-h1 {
  text-align: center;
}
ul.i-mte {
  margin: 0;
  padding-left: 40px;
}
.cgd-h2, .i-mte, .cgd-h22, .i-txt {
  margin: 0;
}
.i-txt {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 260px;
}
.i2-txt {
  position: absolute;
  margin-top: -21px;
  margin-left: 30px;
}
/* --  */
/* Privacy Policy, Terms & Conditions */
.main-ppo, .main-tac {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}
.div-ppo2 h1, .div-tac2 h1 {
  text-align: center;
}
/* -- */
/* Temproary, Error, LogIn, Register --  */
.main-err, .main-tmp, .main-log, .main-rgs, .div-args {
  text-align: center;
  height: 460px;
}
/* --  */